{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "useBuiltIns": true
      }
    ],
    "react",
    "es2015",
    "stage-0",
    "flow"
  ],
  "comments": true,
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "syntax-dynamic-import",
    "react-loadable/babel",
    "react-hot-loader/babel",
    "lodash",
    [
      "import",
      {
        "libraryName": "antd"
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        ["transform-remove-console", { "exclude": ["info"] }]
      ]
    }
  }
}
