<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <h1>Vue - Component 组件</h1>
    
    <div id="div01">
        <greeting></greeting>
    </div>

    <div id="div02">
        <greeting></greeting>
    </div>

    <script src="./index.js"></script>

</body>
</html>